workflows/website-check.json
{
  "name": "website-check",
  "nodes": [
    {
      "parameters": {
        "url": "http://192.168.1.210:8090",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        96,
        96
      ],
      "id": "ecd44cd6-4481-411a-a162-ff7001a5966a",
      "name": "website",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"status\": \"up\", \"error_message\": null}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        0
      ],
      "id": "9cd6d80e-5ac9-477a-a985-7c73b34d3721",
      "name": "field-true"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"status\": \"down\", \"error_message\": \"Service is unavailable or connection failed.\"}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        192
      ],
      "id": "838cc999-f889-4107-9ff0-928c53d95f8c",
      "name": "field-false"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -128,
        96
      ],
      "id": "c4b25d55-c8ac-4e32-b0c6-499279acdf2d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        544,
        0
      ],
      "id": "873cf358-0719-4937-9a21-9fc6f710e521",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "chatId": "8434997650",
        "text": "=website is {{ $json.status }}\n\nMESSAGE: {{ $json.error_message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        544,
        192
      ],
      "id": "42f3ef02-8adb-4574-af6f-d7d3b9ecc723",
      "name": "Send-Telegram",
      "webhookId": "2810a385-e4f3-4ade-99db-10006715e065",
      "credentials": {
        "telegramApi": {
          "id": "OO11cVThUjXEYUyR",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "website": {
      "main": [
        [
          {
            "node": "field-true",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "field-false",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "field-true": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "field-false": {
      "main": [
        [
          {
            "node": "Send-Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "277983dd-3301-46b3-9aa6-1089348fe4a4",
  "meta": {
    "instanceId": "50a75285f2663a13dc21cb3b01ceb9bdb4346cd3d56d2a8dcd93c2213bd84879"
  },
  "id": "YyWhn6Fw0rF9GR2Z",
  "tags": []
}
