workflows/website-check.json
{
  "name": "website-check",
  "nodes": [
    {
      "parameters": {
        "url": "http://192.168.1.210:8090",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -160,
        48
      ],
      "id": "ecd44cd6-4481-411a-a162-ff7001a5966a",
      "name": "website",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"status\": \"up\", \"error_message\": null}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -48
      ],
      "id": "9cd6d80e-5ac9-477a-a985-7c73b34d3721",
      "name": "field-true"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"status\": \"down\", \"error_message\": \"Service is unavailable or connection failed.\"}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        144
      ],
      "id": "838cc999-f889-4107-9ff0-928c53d95f8c",
      "name": "field-false"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        48
      ],
      "id": "c4b25d55-c8ac-4e32-b0c6-499279acdf2d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "command": "=docker start website"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        288,
        144
      ],
      "id": "f8f80d24-0235-4ced-87bc-4cdc243e66d1",
      "name": "Execute a command",
      "executeOnce": true,
      "credentials": {
        "sshPassword": {
          "id": "bg1XJa9ZmdW0MzRl",
          "name": "ssh_n8n"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dbd6ac80-60b5-4f22-a13c-7ee400d74b30",
              "leftValue": "{{ $json.stdout }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        512,
        144
      ],
      "id": "24f264e2-cf95-47a0-aced-28cd1a7ac676",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "8434997650",
        "text": "=website was down and it's up now \nWith the following message: {{ $('website').item.json.error.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        736,
        48
      ],
      "id": "42f3ef02-8adb-4574-af6f-d7d3b9ecc723",
      "name": "Send-Telegram-repaired",
      "webhookId": "2810a385-e4f3-4ade-99db-10006715e065",
      "credentials": {
        "telegramApi": {
          "id": "OO11cVThUjXEYUyR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8434997650",
        "text": "=website is down! \nAn attemp to start with the following command has been tried: \"docker start website\"\n\nError message: {{ $json.stderr }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        736,
        240
      ],
      "id": "ce75dade-c475-443a-90d1-2d5dd941c382",
      "name": "Send-Telegram-failed",
      "webhookId": "2810a385-e4f3-4ade-99db-10006715e065",
      "credentials": {
        "telegramApi": {
          "id": "OO11cVThUjXEYUyR",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "website": {
      "main": [
        [
          {
            "node": "field-true",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "field-false",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "field-true": {
      "main": [
        []
      ]
    },
    "field-false": {
      "main": [
        [
          {
            "node": "Execute a command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send-Telegram-repaired",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send-Telegram-failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7dbed8ac-2fa7-4fa8-9337-7df84bd52a87",
  "meta": {
    "instanceId": "50a75285f2663a13dc21cb3b01ceb9bdb4346cd3d56d2a8dcd93c2213bd84879"
  },
  "id": "YyWhn6Fw0rF9GR2Z",
  "tags": []
}
